@import "styles/variables.scss";

.input-text {
  width: 100%;
  position: relative;
  margin-top: 32px;

  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 0;
    pointer-events: none;
    transition: top 0.2s ease;

    color: $silver-sand-color;
    font-weight: 400;
    font-size: 1rem;
  }

  input {
    width: 100%;

    padding: 10px 0 5px;
    outline: none;
    border-bottom: 1px solid $silver-sand-color;

    color: $black-olive-color;
    font-weight: 400;
    font-size: 1rem;
  }

  input:focus + span,
  input:not(:placeholder-shown) + label {
    top: -24px;
    font-size: 0.75rem;
  }

  &.error {
    input {
      border-bottom: 1px solid $error-color;
    }
  }

  &--error {
    color: $error-color;
    font-weight: 400;
    font-size: 0.75rem;

    transition: bottom 1s ease-in-out;

    position: absolute;
    left: 0;
    bottom: -25px;
  }
}
