@import "styles/variables.scss";

.input-text {
  flex: 1;

  position: relative;
  margin-top: 32px;

  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 0;
    pointer-events: none;
    transition: top 0.2s ease;

    color: $silver-sand-color;
    font-weight: 400;
    font-size: 1rem;
  }

  input {
    width: 100%;

    padding: 10px 0 5px;
    outline: none;
    border-bottom: 1px solid $silver-sand-color;

    color: $black-olive-color;
    font-weight: 400;
    font-size: 1rem;
  }

  input:focus + span,
  input:not(:placeholder-shown) + label {
    top: -24px;
    font-size: 0.75rem;
  }
}
